.AddWorkoutForm {
    width: 100%;
    height: 600px;
}
.addWorkoutCenterDiv {
    /* position: absolute; */
    /* height: 600px; */
    width: 40%;
    height: 100%;
    left: 1020px;
    top: 0px;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

.addWorkoutContent {
    /* position: absolute; */
    /* height: 600px; */
    width: 100%;
    height: 100%;
    margin-left: 90px;
    border: 2px solid #ffd3ac;
    border-radius: 1em;
}
.bodyParts {
    float: left;
    /* height: 400px; */
    width: 100%;
    padding-top: 20px;
    text-align: left;
    margin-left: 10px;
}
.bodyParts h1  {
    font-size: large;
}

#bodyPartForm {
    float: left;
    width: 39%;
}

.workoutList {
    float: left;
    /* height: 400px; */
    width: 60%;
}

#backBtn {
    margin-left: 20px;
    background-color: #fdca9c;
}

#backBtn:hover {
    background-color: #FA9741;
}