.navbar {
    position: fixed;
    width: 98%;
    height: 45px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: right;
    margin-bottom: 5%;
    /* margin: 2% 0; */
    left: 1%;
    top: 0px;
    background-color: #fefefe;
    /* border: thin solid gray; */
    z-index: 3;
}

.navbar a {
    text-decoration: none;
    margin: 10px 15px 0px 15px;
    color: black;
    font-weight: bold;
}
.navbar #logo {
    font-family: 'Trebuchet MS';
    /* height: 80px; */
    /* position: absolute; */
    align-content: center;
    align-content: center;
    align-items: center;
    /* top: 15px; */
    /* left: -7%; TODO */
    font-size: 30px;
    /* padding: 10px 0px 0px; */
    padding: 0px;
    padding-top: 5px;
    margin-left: 0px;
    width: 300px;
    color: black;
    font: bolder;
}
.navbar button{
    top: -4px;
    color: black;
}
/* for testing purposes: */
.navbar .navlink {
    /* border: thin solid red; */
}
/* #home, #yourmeals, #menu, #details, #logout, #settings{
    color: white;
} */
/* #home {
    background-color: tomato;
}
#yourmeals {
    background-color: blue;
}
#menu {
    background-color: green;
}
#settings {
    background-color: orange;
}
#logout {
    background-color:black
} */
.navlink {
    padding: 10px;
}

/* large screen */
@media screen and (min-width: 1030px) {

   .navbar{
       /* background-color: rebeccapurple; */
    }
   #logo{
       /* background-color: red; */
         left: -5%;
         position: absolute;
         top: 15px;}
}

/* laptop */
@media screen and (min-width: 769px) and (max-width: 1029px) {

    #logo{
        /* background-color: blue; */
          left: -10%;
          position: absolute;
          top: 15px;}

}

/* tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {

    #logo{
        /* background-color:pink; */
          left: 30%;
          right: 20%;
          position:fixed;
          top: 0px;
          }

    .navbar {top: 20px;

             align-self: stretch;}    

}

/* mobile */
@media screen and (max-width: 426px) {

    #logo{
        /* background-color:yellow; */
            /* left: 25%; */
            /* right: 20%; */
            position:fixed;
            top: 5px;
            left: 0%;
        }
    
    
    .navbar {
        /* background-color: tomato; */
        padding-top: 50px;
        /* top: 20px; */
        display: flex;

    }
    .navbar button {
        /* background-color: aqua; */
        font-size: 9px;
        margin: 0px;
        width: max-content;
       
    }

    .navbar a {
        margin: 0px;
    }
    .navlink {
        padding: 3px;
    }
    #home {
        margin-left: 8px;
    }
}
/* styling for Galaxy Fold screens */
/* @media screen and (min-width: 280px) and (max-width: 300px) {
    
    .navbar #logo {
        font-size: 30px;
    }
    
} */