.pastMealsContainer {
    /* height: 400px;
    border: thick solid red;
    margin-top: 150px;
    display: block;
    position: relative;
    overflow: auto;
    margin-bottom: 200px; */

    width:600px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: block;
}

.past-meal-element {
    /* background-color: blue; */
    background-color: #fda85d;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  border-radius: 5px;
  box-shadow: -2px 8px 16px -1px #fccda4;
}
h2 {
    height: 10px;
}

.pastMealsHeader {
    margin-bottom: 40px;
}