.addWorkoutContent2 {
    position: absolute;
    height: 100%;
    width: 70%;
    left: 1020px;
    top: 0px;
    /* border: 2px solid rgb(214, 214, 214);
    border-radius: 1em; */
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}
.bodyParts2 {
    float: left;
    
    width: 100%;
    padding-top: 20px;
    text-align: left;
    margin-left: 10px;
    
}
#bodyPartForm2 {
    float: left;
    width: 100%;
    /* border: 2px solid; */
}