body {
    background-color: rgb(233, 233, 233);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center; 
}
#registerbutton {
    margin: 10px;
    background-color: rgb(150, 211, 70);
    color: white;
}
#loginbutton {
    margin: 10px;
    background-color: rgb(150, 211, 70);
    color: white;
}
#logoutbutton {
    margin: 10px;
    background-color: rgb(150, 211, 70);
    color: white;
}
#heightinfeet {
    margin-right: 10px;
}
#heightininches {
    margin-left: 10px;
}
#submitbutton {
    background-color: rgb(150, 211, 70);
    color: white;
}
#baconcheeseburger {
    margin: 10px;
    background-color: rgb(150, 211, 70);
    color: white;
}
#belgianwaffle {
    margin: 10px;
    background-color: rgb(150, 211, 70);
    color: white;
}
#emailform {
    background-color: white;
}
#passwordform {
    background-color: white;
}
ul {
    list-style-position: inside;
}
#addtoplate1 {
    background-color: white;
}
#addtoplate2 {
    background-color: white;
}